:root {
  --transition: all 0.5s;
}

html {
  box-sizing: border-box;
}

body {
  background-color: tomato;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
}

.clock {
  border: 20px solid #ffffff;
  border-radius: 50%;
  width: 400px;
  height: 400px;
  position: relative;
}

.clock__center {
  background-color: #000;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  position: absolute;
  top: 190px;
  right: 190px;
  z-index: 10;
}

.clock__hand {
  width: 200px;
  height: 10px;
  font-size: 10px;
  background: #000;
  position: absolute;
  top: 195px;
  transform: rotate(90deg);
  transform-origin: 100%;
  transition: var(--transition);
  transition-timing-function: cubic-bezier(0.07, -0.02, 0.82, 1.93);
}

.clock__hand--seconds {
  background: white;
  z-index: 5;
}

.clock__hand--minutes {
  background: blue;
  color: white;
  z-index: 3;
}

.clock__hand--hours {
  color: white;
}
